body {
    margin: 0;
}
body::before {
    content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: rgb(255, 255, 255);
  background-image: linear-gradient(
    115deg,
    rgba(214, 214, 214, 0.3),
    rgba(199, 199, 199, 0.3)
  ),
    url(img/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.747);
    z-index: 999;
}
.topbar ul li {
    display: inline-block;
    margin-top: 15px;
    padding-right: 50px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
.topbar a {
    text-decoration: 0;
    color: white;
    transition: .3s;
}
.topbar a:hover {
    font-size: 17px;
    transition: .3s;
}
.utama {
    margin: 5% 15% 0 15%;
    border-radius: 20px 20px 0 0;
    text-align: center;
    padding: 250px 0 10px 0;
    background-image: url(img/bg3.jpg);
    background-repeat: no-repeat;
    background-position: 0 -150px;
    background-size: cover;
    height: 380px;
}
/* #bg img {
    width: 100%;
    height: auto;
    border-radius: 0;
    border: 2px solid gray;
} */
img#pp {
    width: 25%;
    border-radius: 50%;
    bottom: 50px;
    position: relative;
}
.deskripsi {
    background-color: rgb(255, 255, 255);
    /* border: 2px solid rgba(133, 133, 133, 0.5); */
    padding-bottom: 0px;
    margin-top: -120px;
    padding-top: 60px;
    /* border-radius: 10px; */
}
.kontak {
    background-color: white;
    border-radius: 20px;
    border: 2px solid rgba(133, 133, 133, 0.2);
    margin: 10px 10px 10px 10px;
    padding: 2px 2px 2px 2px;
    letter-spacing: 100px;
}
.kontak a {
    fill: currentColor;
    width: 40px;
    height: 40px;
}
svg {
    width: 40px;
    height: 40px;
    transition: .3s;
}
svg:hover {
    width: 50px;
    height: 50px;
    transition: .3s;
}
.biodata {
    display: flex;
    margin: 10px 10px 10px 10px;
}
.konten1 {
    border: 2px solid rgba(133, 133, 133, 0.2);
    border-radius: 20px;
    padding: 10px 30px 10px 10px;
    margin: 10px 10px 10px 0;
    background-color: white;
}
.konten2 {
    border: 2px solid rgba(133, 133, 133, 0.2);
    border-radius: 20px;
    margin: 10px 0 10px 10px;
    padding: 10px 30px 10px 20px;
    background-color: white;
}
.konten1 ul li {
    text-align: justify;
}
.konten1 legend {
    padding-right: 150px;

}
legend {
    font-size: 25px;
}
h3 {
    font-size: 20px;
    text-align: left;
}
.sertifikat {
    border: 2px solid rgba(133, 133, 133, 0.2);
    border-radius: 20px;
    padding: 0px 30px 10px 30px;
    margin: 10px 10px 10px 10px;
    background-color: white;
}
.sertifikat2 {
    display: flex;
}
.sertifikat img {
    width: 100%;
}
.sms {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0 0 20px 20px;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    margin-top: -3.3%;
}
.sms a {
    color: white;
    transition: .10s;
    text-decoration: none;
}
.sms a:hover {
    font-size: 25px;
    transition: .10s;
}
.copyright {
    text-align: center;
}
@media (max-width: 600px){
    body::before {
        background: white;
        background-image: linear-gradient(
      115deg,
      rgba(102, 102, 102, 0.8),
      rgba(100, 100, 100, 0.7)
    ),
    url(img/bg2.jpg);
    }
    .utama {
        margin: 20px 10px 2px 10px;
        padding-top: 150px;
        padding-bottom: 180px;
        background-image: url(img/bg2.jpg);
    }
    #bg img {
        border-radius: 0;
        border: 2px solid gray;
    }
    img#pp {
        max-width: 100%;
        border-radius: 50%;
        top: -20px;
    }   
    .deskripsi {
        margin-top: -70px;
        padding: 35px 0 5px 0;
        background-color: rgb(80, 77, 77);
        color: white;
    }
    .deskripsi h2 {
        font-size: 20px;
    }
    .deskripsi  p {
        text-align: justify;
        padding: 10px 20px;
    }
    legend {
        color: white;
    }
    .kontak {
        background-color: rgba(133, 133, 133, 0.5);
    }
    .kontak a {
        fill: white;
    }
    .foto-profile {
        position: absolute;
        bottom: 340px;
        left: 100px;
    }
    #pp img {
        width: 350%;
    }
    .biodata {
        display: grid;
        margin: 10px 10px 10px 10px;
    }
    .konten1 {
        margin: 10px 2px 10px 2px;
        padding-right: 20px;
        background-color: rgba(133, 133, 133, 0.5);
    }
    .konten2 {
        margin: 2px 2px 10px 2px;
        background-color: rgba(133, 133, 133, 0.5);
    }
    .konten2 p {
        padding-left: 0;
        padding-right: 0;
    }
    .sertifikat {
        margin: 10px 10px 10px 10px;
        background-color: rgba(133, 133, 133, 0.5);
        letter-spacing: 10px;
    }
    .sertifikat img {
        width: 100%;
    }
    .sertifikat2 {
        display: grid;
    }
    .sms {
        font-size: 15px;
    }
    .kontak {
        letter-spacing: 50px;
    }
}
@media (max-width: 1000px){
    body::before {
        background: white;
        background-image: linear-gradient(
      115deg,
      rgba(102, 102, 102, 0.8),
      rgba(100, 100, 100, 0.7)
    ),
    url(img/bg2.jpg);
    }
    .utama {
        margin: 0;
        margin-top: 70px;
        padding-top: 150px;
        padding-bottom: 1447px;
        background-image: url(img/free-background-4.jpg);
        /* border-radius: 0; */
    }
    .topbar ul li {
        padding-right: 20px;
    }
    #bg img {
        border-radius: 0;
        border: 2px solid gray;
    }
    img#pp {
        max-width: 100%;
        border-radius: 50%;
        top: -20px;
        border-top: 3px rgb(136, 136, 136) solid;
        border-right: 3px rgb(136, 136, 136) solid;
        border-left: 3px rgb(136, 136, 136) solid;
    }   
    .deskripsi {
        margin-top: -70px;
        padding: 35px 0 5px 0;
        background-color: rgb(80, 77, 77, 0.5);
        color: white;
        border-top: 2px solid rgb(136, 136, 136);
    }
    .deskripsi h2 {
        font-size: 20px;
    }
    .deskripsi  p {
        text-align: justify;
        padding: 10px 20px;
    }
    legend {
        color: white;
    }
    .kontak {
        background-color: rgb(133, 133, 133,);
    }
    .kontak a {
        fill: white;
    }
    .foto-profile {
        position: absolute;
        bottom: 340px;
        left: 100px;
    }
    #pp img {
        width: 350%;
    }
    .biodata {
        display: grid;
        margin: 10px 10px 10px 10px;
    }
    .konten1 {
        margin: 10px 2px 10px 2px;
        padding-right: 20px;
        background-color: rgba(133, 133, 133, 0.5);
    }
    .konten2 {
        margin: 2px 2px 10px 2px;
        background-color: rgba(133, 133, 133, 0.5);
    }
    .konten2 p {
        padding-left: 0;
        padding-right: 0;
    }
    .sertifikat {
        margin: 10px 10px 10px 10px;
        background-color: rgba(133, 133, 133, 0.5);
    }
    .sertifikat img {
        width: 100%;
    }
    .sertifikat2 {
        display: flex;
    }
    .sms {
        font-size: 15px;
        margin-top: -5%;
        border-radius: 0;
    }
    .sms a:hover {
        font-size: 17px;
    }
    .kontak {
        letter-spacing: 50px;
    }
    .copyright {
        color: white;
        text-shadow: 0 0 10px black;
    }
}
